<main class="game">
	{{#h1}}{{/h1}}
	<form class="game__dashboard">
		{{#each inputs}}
			{{game_input}}
		{{/each}}
		{{#slider speedSlider}}{{/slider}}
		{{#each buttons}}
			{{game_button}}
		{{/each}}
	</form>
	{{#canvas field}}{{/canvas}}
</main>
