doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='game, life, game of life, conway, Canvas')
    meta(name='description' content='A JavaScript version of Conway\'s Game of Life')
    link(rel='apple-touch-icon' sizes='180x180' href='./favicons/apple-touch-icon.png?v=pgra65AAnN2')
    link(rel='icon' type='image/png' sizes='32x32' href='./favicons/favicon-32x32.png?v=pgra65AAnN2')
    link(rel='icon' type='image/png' sizes='16x16' href='./favicons/favicon-16x16.png')
    link(rel='manifest' href='./favicons/site.webmanifest')
    link(rel='mask-icon' href='./favicons/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
    title= htmlWebpackPlugin.options.title
    body
    