@font-face 
  font-family "Source Sans Pro"
  src url("./fonts/source-sans-pro.woff") format("woff")
  url("./fonts/source-sans-pro.ttf") format("truetype") 
  url("./fonts/source-sans-pro.svg") format("svg")
  font-weight normal
  font-style normal

white-color = #FFFFFF
title-text-color = #4F4F4F
green-color = #4EB7A8
green-shadow-color = #28A290
green-text-color = #45AC9D

html
  font 14px "Source Sans Pro", Arial, sans-serif
  background-color white-color
  color title-text-color

body
  margin 0
  padding 0
  min-width 410px

.page-container
  display flex
  flex-direction column
  
  &__title
    margin 2rem auto
    text-transform uppercase
        
  &__canvas
    border solid 0.3rem green-color
    margin 1rem auto
    display block
    max-width 100%
    cursor pointer

.control-elements-container
  display flex
  justify-content center
  flex-wrap wrap

  .width-form
  .height-form
  .speed-form
    display flex
    flex-direction column
    margin 0 0.5rem
    
    &__label
    &__input
      margin 0.5rem auto
      max-width 8rem
    
    &__label
      text-transform capitalize
    
    &__input 
      font-size 1rem
      cursor pointer 

  .speed-form

    &__range-label
      display flex
      justify-content space-between

  .new-game-form
  .start-game-form
  .pause-game-form
    display flex
    align-items center
  
    &__button
      height 2rem
      width 8rem
      border-radius 0.3rem
      font-size 0.9rem  
      border solid 0.1rem green-color
      box-shadow 0 -0.3rem green-shadow-color inset
      background-color white-color
      color green-text-color
      text-transform uppercase
      cursor pointer
      margin 0.5rem 0.5rem 0 0.5rem
      
      &:hover
        background-color green-color
        color white-color
        border none